.list-group{
    height: 200px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#ballPlot{
    height: 800px;
}


.title-row  div {
    padding: 0 2rem 0 0;
    /*margin: 0 0.2rem 0 0.2rem;*/
    /*padding: 0 -0.2rem 0 0.2rem;*/
}
#col3 .list-group-item-action:hover{
    background-color: white;
}

.modebar{
      display: none !important;
}

.title-row  h4 {
    border-bottom: 0.2rem solid #000;
    /*margin: 0 0.2rem 0 0.2rem;*/
    /*padding: 0 -0.2rem 0 0.2rem;*/
}

#generating-ball, #waiting-queue{
    margin: 0 0 3rem 0;
}

