{% extends 'layout.html' %}

{% block body %}
<div style="float: right; margin-right: 3rem;">

</div>

<div style="display:flex; flex-direction: row; justify-content: space-between; margin: 1%;">
    <div style="padding-right: 50px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Universit%C3%A4t_Bonn.svg/184px-Universit%C3%A4t_Bonn.svg.png">
    </div>
    <h1 style="padding-top: 5px;">High Dimensional Words Balls Visualization </h1>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Aiga_mail.png" style="height: 60px;">
        <a href="mailto:dongt@bit.uni-bonn.de">Contact</a>
    </div>
</div>

<div class="jumbotron text-center">
    <p class="lead">Imposing Category Trees Onto Word-Embeddings Using A Geometric Construction.</p>
    <p style="margin-top: 3rem;">Please submit or upload your tree:</p>


    <form id="input-words" method="POST"
          style="display:flex; flex-direction: row; justify-content: center; margin-left: 3rem;  margin-bottom: 1rem;">
        <!--        <input id="input-text-field" name="text">-->
        <textarea id="input-text-field" name="text" cols="100" rows="2"></textarea>

        <input id="input-submit-field" type="submit" class="btn btn-primary btn-md"
               style="height: 5rem; margin-left: 10px;">

    </form>

    <form id="input-file" method=post enctype=multipart/form-data>
        <input type=file name=file id="fileval">
        <button type="button" value="Upload" name="Upload" id="upload-button" class="btn btn-primary btn-md">
            Upload
        </button>
    </form>
</div>

<div id="generating-ball" style="display: none; flex-direction: column; align-items: center">
    <p>Generating balls</p>
    <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="waiting-queue" style="display: none; flex-direction: row; justify-content: center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p id="queue-text" style="margin: 5px">Waiting in queue</p>
</div>


<div class="container mt-4 mb-5" id="folder-structure" style="display: none">
    <div class="row title-row mb-3">
        <div class="col-sm-3" id="col1-title">
            <h4>Inputs</h4>
        </div>
        <div class="col-sm-3" id="col2-title">
            <h4>Word Senses</h4>
        </div>
        <div class="col-sm-6" id="col3-title">
            <h4>Word Definitions</h4>
        </div>
    </div>
    <div class="row">
        <div class="list-group col-sm-3" id="col1" role="tablist"></div>
        <div id="col2" class="col-sm-3 list-group"></div>
        <div id="col3" class="col-sm-6 list-group">
        </div>
    </div>
</div>

<div class="container">
    <div class="chart" id="fullTree"></div>
</div>

<div class="container">
    <div class="chart" id="ballPlot"></div>
</div>

<div class="container">
    <div class="chart" id="animationPlot"></div>
</div>

<div class="container">
    <button type="button" value="Previous Step" name="Previous Step" id="previous-step-button"
            class="btn btn-primary btn-md">
        Previous step
    </button>
    <button type="button" value="Next Step" name="Next Step" id="next-step-button" class="btn btn-primary btn-md">
        Next step
    </button>
</div>


{% endblock %}
