{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Structured Word Embeddings</h1>
    <p class="lead">Imposing Category Trees Onto Word-Embeddings Using A Geometric Construction.</p>
    <p>Source code and data-sets are free for public access at <a href="https://github.com/gnodisnait/nball4tree.git">
        https://github.com/gnodisnait/nball4tree.git</a>. For further questions please write us an
        <a href="mailto:dongt@bit.uni-bonn.de">email</a>.
    </p>

    <p style="margin: 7em;">
    <form id="input-words" method="POST">
        <input id="input-text-field" name="text">
        <input id="input-submit-field" type="submit" class="btn btn-primary btn-md">
    </form>
    </p>
    <form id="input-file" method=post enctype=multipart/form-data>
        <input type=file name=file id="fileval">
        <button type="button" value="Upload" name="Upload" id="upload-button" class="btn btn-primary btn-md">
            Upload
        </button>
    </form>
</div>

<div id="generating-ball" style="display: none; flex-direction: column; align-items: center">
    <p>Generating balls</p>
    <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="waiting-queue" style="display: none; flex-direction: row; justify-content: center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p id="queue-text" style="margin: 5px">Waiting in queue</p>
</div>


<div class="container mt-4 mb-5" id="folder-structure" style="display: none">
    <div class="row title-row mb-3">
        <div class="col-sm-3" id="col1-title">
            <h4>Inputs</h4>
        </div>
        <div class="col-sm-3" id="col2-title">
            <h4>Word Senses</h4>
        </div>
        <div class="col-sm-6" id="col3-title">
            <h4>Word Definitions</h4>
        </div>
    </div>
    <div class="row">
        <div class="list-group col-sm-3" id="col1" role="tablist"></div>
        <div id="col2" class="col-sm-3 list-group"></div>
        <div id="col3" class="col-sm-6 list-group">
        </div>
    </div>
</div>

<div class="container">
    <div class="chart" id="ballPlot"></div>
</div>


{% endblock %}
